<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="Username" formControlName="username" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" />
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
</div>