<mat-toolbar color="primary" class="header">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/users">
          <mat-icon>people_outline</mat-icon>
          <span>User</span>
        </button>
    <button mat-menu-item (click)="logout()"> 
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
    </mat-menu>
    </span>
    <span class="fill-remaining-space">Application Title</span>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" class="footer" *ngIf="user">
    <mat-icon>local_fire_department</mat-icon>
    <span>Kanban David</span>
</mat-toolbar>