:host {
    display: block;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
    border-left: solid #3f51b5 2px;
}

.item:hover {
    background-color: whitesmoke;
}

.example-header-image {
    width: 25px;
    background-size: cover;
    border-radius: 100%;
}